[user]
    email = dmodi@roku.com
    name = Devang Modi
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(yellow)%h%C(reset) %C(normal)%s%C(reset) %C(dim white)%an%C(reset) %C(dim blue)(%ar)%C(reset) %C(auto)%d%C(reset)'
    lgp = log --pretty=oneline --abbrev-commit --decorate -p
    ds = "!f() { \
        git diff --stat=$(tput cols) $@; \
        }; f"
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
[core]
    autocrlf = input
[pull]
    ff = only
[rebase]
    autosquash = true
